PySide6==6.9.0
opencv-python==4.11.0.86
pymavlink==2.4.43
utm==0.8.1
datetime==5.5
torch==2.4.1+cpu
torchvision==0.19.1+cpu
ultralytics==8.3.91
matplotlib==3.10.1
transformers==4.50.3
open3d==0.19.0
pyvista==0.44.2
tensorflow==2.19.0
numpy==2.1.1
